@import "../common/color.styl"
@import "../common/header.styl"
@import "../common/footer.styl"
@import "../../../common/style/normal.styl"
@import "../common/normal.styl"
@import "./profile/top-banner.styl"
@import "./profile/profile-container.styl"

body
  background $forgroundColor

.footer-container
  margin-top 30px
