div(style='overflow:hidden')
  //- .col-xs-12
  .container-fluid
    #profile-desc
      .title.module-title.visible-xs
        | ABOUT US
        span.caret.caret-right
        span.line
      .content-container.about
        .row
          #companydesc.col-sm-5.col-xs-12
            .img-wrapper.clearfix
              img
          .col-sm-7.hidden-xs
            .title.module-title
              | ABOUT US
              span.caret.caret-right
              span.line
          .comDesc.col-sm-7.col-xs-12.col-sm-offset-5
            p
