$theme = theme11

$mainColor = #009800
$forgroundColor = #FFF500
$secondaryColor = #FF3719

$linkColor = #D9D9D9
$errorColor = #FE4C40
$success = #99CC32
$warning = #FBAE3D

$blackTrue = #000
$black = #333
$blackO = #666
$blackOO = #999
$blackOOO = #ccc
$blackOOOO = #3D3E3F

$gray = #BBB
$grayO = #d9d9d9
$grayOO = #e8e8e8
$grayOOO = #f2f2f2

$white = #FFF
$whiteO = #E6E6E6
$whiteOO = #F7F7F7

$borderColor = #D8D8D8
$borderHoverColor = #009800
$borderFocusColor = #009800
$borderFocusShadowColor = rgba(0, 152, 0, 0.1)
$borderDisableColor = $grayO
$borderDisableBgColor = $whiteOO

$navbarSubItemBgColor = #1D1D1D
$categorySubColor = #999

$tradeCertNavBgNormal = #C0C7C2
$tradeCertNavBgActive = $mainColor
$tradeCertNavColor = $white

$footerBlack = #131313
$loadingBg = #EFF0F1

$facebookColor = #577DCE
$twitterColor = #48B4FD
$linkedInColor = #259BD8
$pinterestColor = #FA5855

$socialForgoundColor = #FFF500
$socialFacebookBgColor = $mainColor
$socialLinkedInBgColor = $mainColor
$socialTwitterBgColor = #F92424
