// .container
//   .newest-product-line
//     margin-top 10px
//     height 3px
//     background-color $blackTrue

.newest-products
  margin-top 50px
  .title
    text-align left
    font-size 40px
    line-height 48px
    text-align center
    margin-bottom 20px
    // text-transform uppercase
    .title-line
      display block
      margin 0 auto
      width 40px
      height 4px
      margin-top 25px
      background $mainColor
  @import "../../common/productList.styl"
  .showMore-products
    margin-top 40px
    margin-bottom 50px
    text-align center

@media screen and (max-width: 767px)
  .newest-products
    margin-top 50px
    .title
      font-size 26px
    // .productList
    //  .p-list
    //    height 240px
    //    overflow hidden
    //    margin-bottom 30px
    //    .img-container
    //      height 170px
