@import "color.styl"
@import "homeEditor.styl"

.navbar
  min-height $headerBottomHeight
  margin-bottom 0
  z-index 1

// pc version search style
.hidden-search
  display inline-block
  position relative
  z-index 10
  width 100% // 200px
  margin-left 0
  background $pcTopSearchBgColor
  line-height normal
  animation-duration 0.2s
  vertical-align middle
  .input-group
    position relative
    width 100%
    &:after
      position absolute
      left 0
      top 0
      content ""
      width 30px
      height 100%
      background $navbarBgColor
      z-index 9
      box-shadow 1px 1px 5px $pcTopSearchShadowColor
      -webkit-clip-path polygon(0 0, 0 100%, 100% 0)
      clip-path polygon(0 0, 0 100%, 100% 0)
      -webkit-clip-path url("#hidden-search-input-clip-path")
      clip-path url("#hidden-search-input-clip-path")
      html.safari &
        -webkit-clip-path polygon(0 0, 0 100%, 100% 0)
        clip-path polygon(0 0, 0 100%, 100% 0)
    .form-control
      background $pcTopSearchInputBgColor
      border 1px solid $pcTopSearchInputBorderColor
      height 40px
      line-height 38px
      padding 0 35px 0 30px
      border-radius $pcTopSearchRadius
      box-shadow 1px 1px 5px $pcTopSearchShadowColor inset
      color $pcTopSearchInputColor
      &::placeholder
        color $pcTopSearchInputColor
      &:active, &:focus
        background $pcTopSearchInputFocusBgColor
        border 1px solid $pcTopSearchInputFocusBorderColor
        color $pcTopSearchInputFocusColor
        box-shadow none
        outline none
    .search-btn-container
      position absolute
      right 35px
      top 0
    .close-input-container
      display none
    .btn
      background none
      border none
      height 40px
      padding 0 10px
      color $pcTopSearchBtnColor
      &:focus
        outline none
        color $pcTopSearchBtnHoverColor
      &.search-btn
        z-index 9
      &.close-input
        padding 0 20px 0 10px
        .theme-icon
          width 16px
          height 16px
          line-height 16px
          padding 0
          font-size 12px
          background $seachBarCloseBgColor
          color $seachBarCloseColor
          border-radius 8px
  .search-tip-list
    position absolute
    z-index 999
    top 40px
    left 0
    right 0 // 46px
    margin 0
    padding 5px 0
    background $pcTopSearchTipListBgColor
    border 1px solid $pcTopSearchTipListBorderColor
    display none
    overflow hidden
    li
      display block
      height 35px
      line-height 35px
      padding 0 10px
      background $pcTopSearchTipListBgColor
      color $pcTopSearchTipListColor
      cursor pointer
      text-align left
      overflow hidden
      text-overflow ellipsis
      &:hover
        background $pcTopSearchTipListItemHoverBgColor
        color $pcTopSearchTipListItemHoverColor
      &.empty
        cursor default

.header
  background $headerBgColor
  &.header-fixed
    background $navbarBgColor

  .top
    background $headerTopBgColor
    height $headerTopHeight
    line-height $headerTopHeight
    color $headerColor

    & > .container
      position relative

    // pc version logo
    .logo-wrapper
      text-align left
      .logo-img
        max-height 54px

    .header-left, .header-right
      position absolute
      z-index 9
      top 0
      left 0
      line-height $headerTopHeight
    .header-left
      text-align left
      display none
    .header-right
      left auto
      right 0
      text-align right
      & > div
        display inline-block
      .support-tel
        margin-right 90px
        .sup-i
          margin-right 5px

    // pc version social area
    .social-container
      display inline-block
      vertical-align middle
      a
        display inline-block
        margin-left 30px
        color $socialItemColor
        &:hover, &:focus, &:active
          color $socialItemHoverColor
          text-decoration none
        &:first-child
          margin-left 0

    // pc version search area
    .top-search
      margin-right 90px
      .hidden-search
        width 186px
        .input-group
          .form-control
            padding 0 35px 0 10px
          .search-btn-container
            left auto
            right 35px
          .close-input-container
            display none
        .search-tip-list
          right 0

    // pc version user area
    .user-container
      position relative
      display inline-block
      background $userContainerBgColor
      vertical-align middle
      padding 0 10px
      margin-top -2px
      &:hover
        background $userContainerHoverBgColor
        .drop-hidden-menu
          display block
          top 0
          padding-top 90px
          background transparent
          & > li
            background $navbarSubBgColor
      &:before
        content ""
        display inline-block
        vertical-align middle
        height 100%
      .nav-a, a
        text-decoration none
        color $userContainerLinkColor
        &:hover, &:focus
          text-decoration none
      .glyphicon-user
        color $userContainerIconColor
        margin-right 5px
      .drop-hidden-menu
        display none
        position absolute
        top 90px
        right 0
        width 180px
        line-height normal
        background $userContainerMenuBgColor
        border-top none
        & > ul
          padding 0
          margin 0
          & > li
            background $userContainerMenuBgColor
            text-align center
            border-left 1px solid $userContainerMenuBorderColor
            border-right 1px solid $userContainerMenuBorderColor
            border-bottom 1px solid $userContainerMenuBorderColor
            line-height 40px
            a
              color $userContainerMenuColor
            &:hover
              background $userContainerMenuHoverBgColor
              a
                color $userContainerMenuHoverColor

  .bottom
    background $navbarFullBgColor
    border-top none
    z-index: 499
    .navbar
      position relative
      background $navbarWideBgColor
      border none
      border-radius 0

    .navbar-header
      background $navbarFullBgColor
      position relative

      // mobile version menu
      button
        padding: 11px 15px
        margin 5px 0 0 0
        font-weight bold
        border none
        background $mbTopSearchLabelBgColor
        color $mbTopSearchLabelColor
        .menu-close
          display none
        .menu-bar
          font-size 14px
          vertical-align bottom
          display inline-block
          margin-left 10px
          margin-right 5px
          width 30px
          background $mbTopSearchLabelBgColor
          color $mbTopSearchLabelColor
        .menu-text
          vertical-align text-bottom
          color $mbTopSearchLabelColor
      button:focus
        border none
        background none
      button:hover
        border none
        background none
      // mobile version search
      .search-input
        height 50px
        border-top 2px solid $mbTopSearchBorderColor
        border-bottom 2px solid $mbTopSearchBorderColor
        background $mbTopSearchInputBgColor
        input
          background $mbTopSearchInputBgColor
          color $mbTopSearchInputColor
          border none
          border-radius 0
          height 50px
          box-shadow none
          &:active, &:focus
            box-shadow none
        span
          border none
          background $mbTopSearchBtnBgColor
      .search-tip-list
        display none
        position absolute
        left 0
        right 0
        top $headerBottomHeight
        padding 0 // 5px 0 15px
        z-index 699
        background $mbTopSearchTipListBgColor
        color $mbTopSearchTipListColor
        margin 0
        li
          display block
          height 35px
          line-height 35px
          padding 0 10px
          background $mbTopSearchTipListBgColor
          color $mbTopSearchTipListColor
          overflow hidden
          text-overflow ellipsis
          &:hover
            background $mbTopSearchTipListItemHoverBgColor
            color $mbTopSearchTipListItemHoverColor

    .navbar-collapse
      padding-left 0

    // pc version logo
    .logo-img-loading
      display inline-block
      background $loadingBg
      height 52px
      width 120px
      margin-top 18px
    .logo-wrapper
      display none
      position absolute
      z-index 199
      left 15px
      top 0
      width auto
      height 100px
      line-height 100px
      vertical-align middle
      &:before
        content ''
        display inline-block
        vertical-align middle
        height 100%
      .logo-img
        display none
        width auto
        height 78px
        vertical-align middle

    ul.navbar-nav
      background $navbarBgColor
      position relative
      height $headerBottomHeight
      vertical-align middle
      padding-right 0
      text-align left
      & > li
        float none
        position relative
        height $headerBottomHeight
        padding 0 47.5px // 0 25px
        margin-left -53.5px
        display inline-block
        vertical-align middle
        margin-right 5px
        &:before, &:after
          display none
          position absolute
          top 0
          left 0
          content ""
          background $navbarItemHoverBgColor url(/assets/$theme/images/nav_item_bg_bl.png) 100% 0 repeat-x
          background-size 48.5px 48px
          vertical-align middle
          height 100%
          width 48.5px
        &:after
          left auto
          right 0
          background-image url(/assets/$theme/images/nav_item_bg_tr.png)
        &:hover
          &:before, &:after
            display inline-block
          a
            background $navbarItemHoverBgColor url(/assets/$theme/images/nav_item_bg_link@2x.png) 100% 0 repeat-x
            background-size 1px 48px
            color $navbarItemHoverColor
        &.home
          margin-left 0
          padding-left 0
          &:before
            display none
          & > a
            padding-left 30px
        & > a
          display inline-block
          vertical-align middle
          height $headerBottomHeight
          line-height $headerBottomHeight
          padding 0 10px
          color $navbarItemColor
          font-size 16px
          .caret
            margin-left 2.5px
      li:last-child
        margin-right 0
      li.active
        border-bottom none
        &:before, &:after
          display inline-block
        &.home
          margin-left 0
          padding-left 0
          &:before
            display none
          & > a
            padding-left 30px
        & > a
          background $navbarItemHoverBgColor url(/assets/$theme/images/nav_item_bg_link@2x.png) 100% 0 repeat-x
          background-size 1px 48px
          color $navbarItemHoverColor
          &:hover, &:active, &:focus
            color $navbarItemHoverColor
      li.drop-menu, li.nav-drop-menu
        position relative
        .slide-down, .slide-up
          vertical-align middle
          display inline-block
          margin-top -3px
          margin-left 2px
          font-size 12px
        .slide-up
          display none
        .drop-hidden-menu
          position absolute
          z-index 99
          top $headerBottomHeight // 66px
          width 220px
          height 0
          padding 0 // 5px 0 10px
          margin-top 0
          background $navbarSubBgColor
          opacity 0
          overflow hidden
          transition opacity 0.2s ease
          li
            display block
            max-height 40px
            text-align left
            a
              position relative
              display inline-block
              width 100%
              height 40px
              line-height 40px
              padding 0 30px // 0 10px
              background $navbarSubItemBgColor
              color $navbarSubItemColor
              font-size 14px
              text-overflow ellipsis
              overflow hidden
              white-space nowrap
              &:hover, &:active, &:focus
                background $navbarSubItemHoverBgColor url(/assets/$theme/images/btn_bg.png) top left repeat-x
                color $navbarSubItemHoverColor
                text-decoration none
              i
                position absolute
                right 18px // 5px
                top 0
                font-size 13px
                float right
            .drop-hidden-menu-2-wrapper
              position absolute
              z-index 999
              width 220px
              height 0
              margin -45px 0 0 220px
              padding 0
              opacity 0
              overflow hidden
              background $navbarSub2BgColor
              transition opacity 0.2s ease
            .drop-hidden-menu-2
              background $navbarSub2BgColor
              padding 0
          li.drop-menu-2:hover
            & > a
              background $navbarSubItemHoverBgColor url(/assets/$theme/images/btn_bg.png) top left repeat-x
              color $navbarSubItemHoverColor
            .drop-hidden-menu-2-wrapper
              height auto
              opacity 1
        &.drop-right
          .drop-hidden-menu
            display block
            left auto
            right 0
            width 150px
          &:hover
            .drop-hidden-menu
              top 0
              padding-top 40px
              background transparent
              & > li
                background $navbarSubBgColor
      li.drop-menu:hover, li.nav-drop-menu:hover
        .slide-down
          display none
        .slide-up
          display inline-block
        .drop-hidden-menu
          height auto
          opacity 1
          overflow visible
      li.line-li
        display none
        margin 0
        padding 0
        vertical-align middle
        margin-top -4px
        .line
          display inline-block
          height 100px
          width 1px
          background $navbarItemLineColor
          vertical-align middle
      li.search-li, li.user-li
        display none
        a
          text-align center
      li.search-li
        .close-input
          display none
          .theme-icon
            width 16px
            height 16px
            line-height 16px
            margin 8px 5px 0
            padding 0
            font-size 12px
            background $seachBarCloseBgColor
            color $seachBarCloseColor
            border-radius 8px
      .user-opration, .user-loged
        color $userContainerColor
        display none
        line-height 60px
        a
          color $userContainerLinkColor
        span
          margin 0 7px
        i
          margin-right 6px
        .username
          width: 40px
          display inline-block
          white-space nowrap
          overflow hidden
          text-overflow: ellipsis
          line-height 10px
          padding 0

    .navbar-search
      display inline-block
      width 220px
      height $headerBottomHeight
      line-height $headerBottomHeight
      background $pcTopSearchBgColor
      .search-bar
        display inline-block
        vertical-align middle
        text-decoration none
        color $seachBarColor
        margin-right 10px
        &:hover, &:active, &:focus
          text-decoration none

  // pc version search in new line
  .foot-search
    display none
    padding 15px
    text-align right

@media screen and (max-width: 1200px)
  .header
    .bottom
      ul.navbar-nav
        li.search-li
          margin-left 0
@media screen and (min-width: 1089px)
  ul.navbar-nav
    li.drop-menu, li.nav-drop-menu
      .drop-hidden-menu
        left 0
@media screen and (max-width: 1090px)
  ul.navbar-nav
    li.drop-menu, li.nav-drop-menu
      .drop-hidden-menu
        left 50px
@media (min-width: 768px) and (max-width: 991px)
  .header
    .bottom
      .navbar
        margin 0
        padding 0
        .navbar-collapse
          padding 0
      .navbar-search
        width 135px

/*old 767px*/
@media screen and (max-width: 999px)
  .header
    position static
    .top
      background $mbHeaderBgColor
      min-height 90px
      height 90px
      text-align center
      .logo-wrapper
        line-height 90px
        height 90px
        text-align center
      .logo-img
        height 45px
    .bottom
      border-top-color $mbNavbarItemLineColor
      background $mbnavbarWideBgColor
      .navbar
        background $mbnavbarWideBgColor
        padding 0
      .navbar-header
        background $mbNavbarBgColor
        margin-left 0
        margin-right 0
      .navbar-collapse
        background $mbHeaderBgColor
        border-color $mbNavbarItemLineColor
        width 100%
        padding 0
        margin-left 0
        margin-right 0
      ul.navbar-nav
        background $mbHeaderBgColor
        margin 0
        padding 0
        height auto
        & > li
          display block
          line-height 60px
          height auto
          padding 0 15px
          border-bottom 1px solid $mbNavbarItemBorderColor
          text-align left
          margin 0
          &:before, &:after
            display none
          &:hover, &:focus
            background $mbNavbarItemBgColor
            &:before, &:after
              display none
            & > a
              background $mbNavbarItemBgColor
          &.home
            & > a
              padding-left 15px
          & > a
            background $mbNavbarItemBgColor
            color $mbNavbarItemColor
            text-decoration none
            height 60px
            line-height 60px
            padding 0
            text-align left
            border none
            &:hover, &:active, &:focus
              background $mbNavbarItemHoverBgColor
              color $mbNavbarItemHoverColor
              border none
            &:before
              content ''
              display inline-block
              width 15px
              height 15px
              background $mbNavbarItemIconColor
              margin-right 10px
        li.drop-menu, li.drop-menu:hover
          .drop-hidden-menu
            position static
            top 0
            background $mbNavbarSubBgColor
            width 100%
            height auto
            padding 0
            border-top none
            box-shadow none
            opacity 1
            li
              border none
              max-height none
            li.drop-menu-2, li.drop-menu-2:hover
              background $mbNavbarSubBgColor
              max-height none
              height auto
              border none
              a
                background $mbNavbarSubItemBgColor
                color $mbNavbarSubItemColor
                padding 0 25px
                border-radius 0 !important
                font-size 16px
                line-height 40px
              .drop-hidden-menu-2-wrapper
                position static
                background $mbNavbarSub2BgColor
              .drop-hidden-menu-2
                background $mbNavbarSub2BgColor
                width 100%
                height auto
                opacity 1
                margin-left 0
                margin-top 0
                padding 0
                border-top none
                box-shadow none
                li
                  height 40px
                  margin-bottom 15px
                  padding-left 10px
                  padding-right 10px
                  float left
                a
                  line-height 36px
                  padding 2px 10px
                  margin-bottom 7px
                  text-align center
                  background $mbNavbarSub2ItemBgColor
                  color $mbNavbarSub2ItemColor
                  border-radius 0 !important
                  &:hover, &:focus
                    background $mbNavbarSub2ItemHoverBgColor
                    color $mbNavbarSub2ItemHoverColor
        li.active
          border-bottom 1px solid $mbNavbarItemBorderColor
          &.home
            & > a
              padding-left 15px
          &:before, &:after
            display none
          a, a:hover, a:active, a:focus
            font-weight normal
            background $mbNavbarItemBgColor
            color $mbNavbarItemColor
            border none
        li.user-li
          background $mbNavbarSubBgColor
          width 100%
          margin-left 0
          text-align left
          .user-opration, .user-loged
            margin-left 10px
            line-height 40px
            a
              padding 0
              background $mbNavbarSubItemBgColor
              color $mbNavbarSubItemColor
              font-weight normal
              &.username
                width auto
                display inline
        .social-container
          color $mbNavbarItemColor
          a
            display inline-block
            padding 0 10px
            text-align center
            color $mbNavbarItemColor
            &:hover, &:active, &:focus
              text-decoration none
              color $mbNavbarItemHoverColor
          i
            font-size 18px
