.guide-container
  .container
    .guide-img#guide-img
      .row
        //- JS中动态添加
        .col-xs-4.col-sm-4.img.animated.img-loading
          .img-holder
          //img(src='')
        .col-xs-4.col-sm-4.img.animated.img-loading
          .img-holder
          //img(src='')
        .col-xs-4.col-sm-4.img.animated.img-loading
          .img-holder
          //img(src='')

- var homeAdvert1ClipPath = '<svg width="0" height="0"><defs><clipPath id="home-advert1-clip-path" clipPathUnits="objectBoundingBox"><polygon points="0 0, 1 0, 0.262 1, 0 1" /></clipPath></defs></svg>'
!{homeAdvert1ClipPath}
- var homeAdvert2ClipPath = '<svg width="0" height="0"><defs><clipPath id="home-advert2-clip-path" clipPathUnits="objectBoundingBox"><polygon points="0.4525 0, 1 0, 0.5475 1, 0 1" /></clipPath></defs></svg>'
!{homeAdvert2ClipPath}
- var homeAdvert3ClipPath = '<svg width="0" height="0"><defs><clipPath id="home-advert3-clip-path" clipPathUnits="objectBoundingBox"><polygon points="0.718 0, 1 0, 1 1, 0 1" /></clipPath></defs></svg>'
!{homeAdvert3ClipPath}
