//- Created by wangzhiw on 2017/5/09.
.profile-about-container
  .container.profile-container
    .row
      .col-xs-12
        .profile-section
          include about-us

//- hr.split-line.hidden-xs
.profile-info-container
  .container.profile-container
    .row
      .col-xs-12
        .profile-section
          include company-info

//- hr.split-line.hidden-xs
.profile-trademark-container
  .container.profile-container
    .row
      .col-xs-12
        .profile-section
          include trademarks

//- hr.split-line.hidden-xs
.profile-download-container
  .container.profile-container
    .row
      .col-xs-12
        .profile-section
          include download

include mask
