div(style='overflow:hidden')
  .col-xs-12
    div
      #profile-desc
        .title ABOUT US
        .content-container.about
          .row#companydesc
            img.col-sm-6.col-xs-12
            p.img-loading
            p.text-des
            .loading-container
             p.p-loading
             p.p-loading
             p.p-loading
             p.p-loading
             p.p-loading
             p.p-loading
             p.p-loading
             p.p-loading
             p.p-loading
             p.pl-loading
