.mask-container.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-body
        i.close.glyphicon-cancel.close-mask
        .row
          .col-xs-6.img-preview
            .row
              i.icon-arrow.icon-font.glyphicon.glyphicon-chevron-left.hidden-xs
              i.icon-arrow.icon-font.glyphicon.glyphicon-chevron-right.hidden-xs
              .col-xs-10.img-section
                img.big-image