div(style='overflow:hidden;display:none;' id='trademarks')
  .col-xs-12.arrow-container
    div
      #profile-cert
        .title TRADEMARKS
        .content-container.trademark
          //.loading-cal
          //.loading-cal
          //.loading-cal
          //.loading-cal
        i.icon-arrow.icon-font.glyphicon.glyphicon-dleft.hidden-xs
        i.icon-arrow.icon-font.glyphicon.glyphicon-dright.hidden-xs
          //include common/visible-xs-list
          //include common/hidden-xs-list
