.top-banner
  width 100%
  position relative
  overflow hidden
  padding-bottom 15.62%
  //background-color #C6C7C9
  //#products-topBanner
  //  padding-bottom  16%
  //#contacts-topImg
  //  padding-bottom 16%
  .default-product
    width 30%
    margin-left 30%
    top 10%
  img
    width 100%
    position absolute
    top 0
@media screen and (max-width: 768px)
  body,html
    // font-size 14px
    // .top-banner
    //   padding-bottom 40%
      // img
      //   width auto
      //   height 40vw
      //   position absolute
      //   top 0
      //   left calc(50% - 128vw)
      .default-product
        width 42%
        margin-left 27%
        margin-top 12px