.profile-section
  // margin-top -45px
  background $white
  .title
    margin-top 20px
    // padding 10px
    // background $whiteOO
    font-size 18px
  .arrow-container
    position relative
    .icon-arrow
      position absolute
      top 57%
      width 34px
      height 34px
      line-height 34px
      font-size 20px
      text-align center
      background-color $tradeCertNavBgNormal
      color $tradeCertNavColor
      cursor pointer
      &:hover, &.active
        background-color $tradeCertNavBgActive
      &.icon-arrow-left
        left 0
      &.icon-arrow-right
        right 0
  .content-container
    padding-left 4%
    padding-right 4%
    margin-bottom 30px;
    &.about
      margin-top 30px
      #companydesc
        padding 20px
        position relative
        margin-bottom 20px
        .img-wrapper
          &:before
            content: ""
            display block
            z-index 0
            position absolute
            right -5px
            bottom -10px
            width 80%
            height 90%
            background-color $mainColor
            -webkit-clip-path: polygon(0 0, 100% 0%, 82% 100%, 0% 100%)
            clip-path: polygon(0 0, 100% 0%, 82% 100%, 0% 100%)
            -webkit-clip-path url("#about-us-img-before-clip-shape")
            clip-path url("#about-us-img-before-clip-shape")
            html.safari &
              -webkit-clip-path: polygon(0 0, 100% 0%, 82% 100%, 0% 100%)
              clip-path: polygon(0 0, 100% 0%, 82% 100%, 0% 100%)
          img
            position relative
            z-index 1
            float left
            width 100%
            -webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%)
            clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%)
            -webkit-clip-path url("#about-us-img-clip-shape")
            clip-path url("#about-us-img-clip-shape")
            html.safari &
              -webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%)
              clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%)
      .comDesc
        line-height 20px
        padding 60px 35px 0
        color $blackO
        font-size 13px
        line-height 24px
    &.company
      margin-top 15px
      ul
        padding-left 0
      li
        margin-top 15px
        span
          &:first-child
            color $blackOO
          &:last-child
            color $blackO
            p
              overflow hidden;
              text-overflow ellipsis;
              white-space nowrap;
              margin:0 0;
    &.trademark
      margin-top 30px
      .license
        .desc
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
       .img-container
          padding-bottom 130%
          position relative
          overflow hidden
          border 1px solid $grayOO
          background-position 50% 50%
          background-repeat no-repeat
          background-size cover
          img
            display none
            position absolute
            top 0
            // width 90%
            width auto
            height 100%
            margin-left 5%
    &.download
      padding-left 2.5%
      padding-right 2.5%
      ul
        padding-left 0
        .down-item
          position relative
          height 63px
          border-bottom 1px solid $grayOO
          i
            float left
            line-height 63px
          a.titl
            color $blackO
            text-decoration none
            display inline-block
            margin 20px 0 0 5px
            padding 0
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            width 45%
          .btn-blue-trans
            position absolute
            right 0
            top 15px
            padding 0 15px
            height 30px
            line-height 26px
            font-size 13px
            text-decoration none
      .load-more-download
        display none
        text-align center
        padding-top 10px
        .load-more
          display inline-block
          height 36px
          line-height 36px
          text-decoration none
          color $blackOO
          border 1px solid $blackOOO
          padding 0 15px
          cursor pointer
          &:hover, &:active, &:focus
            text-decoration none
          &[disabled]
            background-color $grayOO
.mask-container
  display none
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  background rgba(110,110,110,.7)
  z-index 999
  .modal-dialog
    width 60%
    .modal-body
      width 100%
      .img-preview
        position relative
        // position fixed
        // top 25%
        // left 25%
        .icon-arrow
          position absolute
          top 45%
          font-size 24px
          color $blackOOO
          cursor pointer
          &.glyphicon-chevron-left
            left 2%
          &.glyphicon-chevron-right
            right 2%
        .img-section
          // padding-bottom 10%
          img
            width 100%
      .close.close-mask
        position absolute
        top -30px
        right 15px
        color $white
        opacity 1
        font-size 30px

@media (min-width: 768px) and (max-width: 991px)
  .profile-section
    .content-container
      &.about
        padding-left 0
        padding-right 0
        .comDesc
          padding-top 30px
@media screen and (max-width: 767px)
  .mask-container
    .modal-dialog
      width 80%
  .content-container
    &.about
      #companydesc
        margin-left -15px
