.container.search-result
  .row.search-container
    .col-md-12
      .loading-search-title
    .search-title.col-xs-12
      span.num
      span results found for
      span.search-text
    .list-loading.col-md-3.col-sm-4.col-xs-6
      .img-container
      .p-title
    .list-loading.col-md-3.col-sm-4.col-xs-6
      .img-container
      .p-title
    .list-loading.col-md-3.col-sm-4.col-xs-6.hidden-xs
      .img-container
      .p-title
    .list-loading.col-md-3.col-sm-4.col-xs-6.hidden-xs.hidden-sm
      .img-container
      .p-title
    .search-result-list.clearfix
    .load-more-products.visible-xs
      a.load-more
        | LOAD MORE
        i.theme-icon.icon-angle-double-right
