.aboutUs-container
  .container.aboutUs#aboutUs
    .title-wrapper.hidden
      .title
        span About
        | Us
        span.title-line
    //- .aboutUs-img.col-sm-3.col-xs-5
    //- .discrible-container.col-sm-9.col-xs-7
    .discrible-container.col-xs-12
      .title
        span About
        | Us
        span.title-line
      .discrible
        .discrible-text
          p.text-loading
          p.text-loading
          p.text-loading
          p.text-loading.half
        p.text-loading.btn
        //- p.btn-blue LEARN MORE
