.mainpic-section
  .container.mainpic-container.detail-loading#main-pic
    .row
      div.col-sm-5.col-xs-12.left-pic
        div#carousel-mainpic.carousel.slide.img-box
        .carousel-inner.img-main(role="listbox")
        div.share-four.hidden-xs
        a.glyphicon-facebook
        a.glyphicon-linkedIn
        a.glyphicon-twitter
        a.glyphicon-pinterest
      div.col-sm-7.col-xs-12.right-pic
        h1.clearfix
        .price
        .line
        .img-list#img-list
          a(href="javascript:void(0);")
          a(href="javascript:void(0);")
          a(href="javascript:void(0);")
          a(href="javascript:void(0);")
        .load-spec.load2
          p
          p
          p
          p
