@import "../common/color.styl"
@import "../common/header.styl"
@import "../common/footer.styl"
@import "../../../common/style/normal.styl"
@import "../common/normal.styl"
@import "../products/productsTemplate/top-banner.styl"
@import "./contactsTemplate/contacts-container.styl"

body
  background $forgroundColor

.footer-container
  margin-top 30px
