.aboutUs-container
  margin-top 0 // 80px
  padding 100px 0
  position relative
  background-color $forgroundColor

  // about us top title
  .title
    position relative
    background-color transparent
    font-size 50px
    line-height 80px
    font-weight normal
    color $aboutUsSectionTitleColor
    span
      margin-right 0.25em
      // color $aboutUsSectionTitleColor
      // font-weight bold
    .title-line
      display none
      z-index -1
      left 210px
      top 36px
      position absolute
      width 135%
      height 100px
      border-top 2px solid $aboutUsSectionTitleLineColor
      border-right 2px solid $aboutUsSectionTitleLineColor
      // background $aboutUsSectionTitleLineColor url(/images/$theme/abount-title_bg.png) top left no-repeat
      // background-size contain
      &:before
        content ""
        display inline-block
        width 0
        height 0
        vertical-align middle
        border-right 7px dashed
        border-right 7px solid \9
        border-top 6px solid transparent
        border-bottom 6px solid transparent
        top -7px
        left -6px
        position absolute
    .title-wrapper &
      text-align center
      line-height normal
      margin-top 40px
      margin-bottom 40px

  .aboutUs
    padding-top 0
    padding-bottom 0
    .discrible-container
      position static
      background url(/assets/$theme/images/home_about-us_bg.png) top left no-repeat
      background-size 104px 477px
      padding-left 124px
      min-height 477px
      &:before
        // display inline-block
        display none
        position absolute
        content ''
        left 0
        top 0
        width 40px
        height 6px
        background-color $aboutUsSectionTitleIconColor
      .title
        display none // using background title
        color $aboutUsSectionTitleColor
        &:after
          content ''
          display block
          height 3px
          width 40px
          background-color $mainColor
          margin-top 20px
      .discrible
        // padding 2.5% 5% 5% 0
        padding 0
        margin-top 30px
        .jump-to
          text-decoration: none
        .discrible-text
          max-height 336px
          overflow hidden
          text-overflow ellipsis
          display -webkit-box
          -webkit-box-orient vertical
          -webkit-line-clamp 14
          line-height 24px
          color $aboutUsSectionColor
          p
            height 20px
            border-radius 10px
            margin 0 0 18px
          .half
            width 70%
        .btn-wrapper
          text-align left
        .btn
          margin-top 25px
          border-ra
    .aboutUs-img
      // float right
      // padding-bottom 30px
      padding 0
      .ab-img-container
        // margin-top 70px
        // padding-bottom (320/409*100 + '%')
        // position relative
        // overflow hidden
        width 100%
        text-align right
        img
          // position absolute
          // top 0
          // max-height 100%
          max-width 100%
          height auto
        .img-hold
          position absolute
          top 0
          width 100%
          height 100%
          background $loadingBg

@media screen and (max-width: 1200px)
  .aboutUs-container .aboutUs
    .discrible-container
      .title
        .title-line
          width 125%

@media screen and (max-width: 991px)
  .aboutUs-container .aboutUs
    .discrible-container
      .title
        .title-line
          width 115%
      // .discrible
      //   .discrible-text
      //     max-height 120px
      //     -webkit-line-clamp 4
    // .aboutUs-img
    //   .ab-img-container
    //     margin-top 60px

@media screen and (max-width: 767px)
  .aboutUs-container
    margin-top 0 // 50px
    padding 25px 0
    // background -webkit-linear-gradient(to bottom, #F7F7F7, #F7F7F7 80%, $white 80%, $white)
    // background linear-gradient(to bottom, #F7F7F7, #F7F7F7 80%, $white 80%, $white)
    // background none
    .aboutUs
      padding 0
      .title-wrapper
        text-align center
        .title
          color $mainColor
      .aboutUs-img
        padding-bottom 0
        .title
          font-size 36px
          .title-line
            left 135px
            width 65%
        .ab-img-container
          margin-top 30px
      .discrible-container
        background none
        padding 0 15px
        min-height auto
        &:before
          display none
        .discrible
          padding 10px 10px 0 0
          margin-top 20px
          .discrible-text
            color $aboutUsSectionColor
          .btn-wrapper
            margin 0
            text-align center
            .btn-default .text
              display inline-block
              margin-left 5px
