.newest-products-container
  background-color $forgroundColor
  padding-top 100px
  padding-bottom 0

.newest-products
  margin-top 0 // 50px
  .title
    display inline-block // place center and add vertical line at both sides
    position relative
    line-height 48px
    margin-bottom 20px
    font-size 32px
    color $mainColor
    text-transform uppercase
    &:before, &:after
      content ''
      display inline-block
      position absolute
      height 32px
      width 1px
      top 8px
      background-color $newestProductTitleLineColor
    &:before
      left -25px
    &:after
      right -25px
    .title-line
      display none // block
      margin 0 auto
      width 40px
      height 4px
      margin-top 25px
      background $newestProductTitleLineColor
  @import "../../common/productList.styl"
  .showMore-products
    margin-top 40px
    margin-bottom 50px
    text-align center

@media screen and (max-width: 767px)
  .newest-products-container
    padding-top 50px
  .newest-products
    margin-top 0 // 50px
    .title
      font-size 26px
    // .productList
    //  .p-list
    //    height 240px
    //    overflow hidden
    //    margin-bottom 30px
    //    .img-container
    //      height 170px
