.footer-container
  #footer-container
    .container
      .row
        .support.col-xs-12
          .contact.context
            .col-xs-12.col-sm-10.col-sm-offset-1
              .contact-item.col-xs-12.col-sm-4(style="height:auto;padding-top:20px;")
                i.glyphicon.glyphicon-location.sup-i
                p.location
              .contact-item.col-xs-12.col-sm-4
                i.glyphicon.glyphicon-tel.sup-i
                p.tel
              .contact-item.col-xs-12.col-sm-4
                i.glyphicon.glyphicon-email.sup-i
                p.email
    //- nav.navbar.bottom.navbar-inverse.footer-copyright.text-center
    //-   .container.follow-us
    //-     span.socail.context.icon-num
    //-       //- 通过JS动态添加
    //-       //- i.glyphicon.glyphicon-facebook
    //-       //- i.glyphicon.glyphicon-linkedIn
    //-       //- i.glyphicon.glyphicon-twitter
    //-   .container.quick-links.text-center
    //-     .links.context
    //-       if(plat != '1')
    //-         span.col-xs-12
    //-           a(href='/?shopId=#{shopId}') Home
    //-       span.col-xs-12
    //-         a(href='/products?shopId=#{shopId}') Products
    //-       if(plat != '1')
    //-         span.col-xs-12
    //-           a(href='/profile?shopId=#{shopId}') Company Profile
    //-         span.col-xs-12
    //-           a(href='/contacts?shopId=#{shopId}') Contact Us
    //-   .container
    //-     .copyright-line
    //-   .container.discribe
    //-     p ONLOON &copy; All Rights Reserved.  POWERED BY ONLOON
    nav.navbar.bottom.navbar-inverse.footer-copyright.text-center
      .container
        //- .follow-us.col-xs-5.col-sm-offset-1.col-sm-4
        .follow-us.col-xs-12.col-sm-offset-1.col-sm-4
          i FOLLOW US:
          span.socail.context.icon-num
            //- 通过JS动态添加
            //- i.glyphicon.glyphicon-facebook
            //- i.glyphicon.glyphicon-linkedIn
            //- i.glyphicon.glyphicon-twitter
        //- .discribe.col-xs-7.col-sm-6
        .discribe.col-xs-12.col-sm-6
          //p ONLOON &copy; All Rights Reserved. POWERED BY ONLOON
      a.cd-top
        i.theme-icon.icon-chevron-up
        p TOP
