$theme = theme16

$blackTrue = #000
$black = #333
$blackO = #666
$blackOO = #999
$blackOOO = #CCC

$gray = #BBB
$grayO = #D8D8D8
$grayOO = #E8E8E8
$grayOOO = #F2F2F2

$white = #FFF
$whiteO = #E6E6E6
$whiteOO = #F6F6F6

// base

$mainColor = #FDB82C // main theme color
$secondaryColor = $mainColor // another main theme color
$backgroundColor = #FEC94D // main assistant color, e.g. color of button's hover state
$forgroundColor = #222222 // main forground color

$textColor = $blackOO
$textActiveColor = $white

$linkColor = #359AF6
$errorBgColor = #FFEEE6
$errorColor = #FF3719

$alertColor = $blackO
$infoBgColor = #E7F3FC
$infoBorderColor = #CFE8FA
$infoColor = $alertColor
$successBgColor = #48CE7D
$successBorderColor = #46C97A
$successColor = $alertColor
$warningBgColor = #FFFAEA
$warningBorderColor = #FEC
$warningColor = $alertColor

// common

$loadingBg = #EFF0F1

$inputLabelBgColor = transparent
$inputLabelColor = $black
$inputLabelFocusColor = $mainColor

$inputColor = rgb(153, 153, 153)
$inputPlaceHolderColor = $grayO
$inputBgColor = $forgroundColor
$inputBorderColor = #343434
$inputHoverBorderColor = $blackOO
$inputErrorBgColor = $forgroundColor
$inputErrorBorderColor = $errorColor
$inputSuccessBgColor = $successBgColor
$inputSuccessBorderColor = $successBorderColor

$selectBgColor = $forgroundColor
$selectBorderColor = #474747
$selectHoverBorderColor = $white
$selectColor = $white
$selectCaretColor = $white
$selectBorderRadius = 0

$selectOptionsBorderColor = #474747
$selectItemBgColor = $selectOptionsBorderColor
$selectItemColor = $blackOO
$selectItemHoverBgColor = $blackOO
$selectItemHoverColor = $white
$selectItemSelectedBgColor = $blackOO
$selectItemSelectedColor = $white

$btnDefaultBgColor = $mainColor
$btnDefaultBorderColor = $mainColor
$btnDefaultColor = $white
$btnDefaultHoverBgColor = $mainColor
$btnDefaultHoverBorderColor = $mainColor
$btnDefaultHoverColor = $white
$btnBorderRadius = 0
$btnDisableBgColor = #343434  // $whiteOO
$btnDisableColor = $blackOO // $blackOOO

$tableBgColor = $forgroundColor
$tableBorderColor = #2A2A2A
$tableHoverBgColor = #333333
$tableHoverBorderColor = #333333
$tableThColor = $blackOO
$tableTdColor = $white

$paginationBgColor = $forgroundColor
$paginationBorderColor = #343434
$paginationColor = $white
$paginationHoverBgColor = $mainColor
$paginationHoverBorderColor = $mainColor
$paginationHoverColor = $forgroundColor
$paginationActiveBgColor = $secondaryColor
$paginationActiveBorderColor = $secondaryColor
$paginationActiveColor = $forgroundColor
$paginationActiveHoverBgColor = $paginationActiveBgColor
$paginationActiveHoverBorderColor = $paginationActiveBorderColor
$paginationActiveHoverColor = $paginationActiveColor
$paginationDisabledBgColor = #343434
$paginationDisabledBorderColor = #343434
$paginationDisabledColor = $textColor

$mbLoadMoreBgColor = transparent
$mbLoadMoreBorderColor = $blackOOO
$mbLoadMoreColor = $blackOO
$mbLoadMoreDisabledBgColor = $grayOO

// social

$facebookColor = #577DCE
$twitterColor = #48B4FD
$linkedInColor = #259BD8
$pinterestColor = #FA5855

$socialForgoundColor = #FFF500
$socialFacebookBgColor = $mainColor
$socialLinkedInBgColor = $mainColor
$socialTwitterBgColor = #F92424

// header

$headerTopBgColor = #1A1A1A // header on top of navbar
$headerBgColor = rgba(0, 0, 0, 0.8) // whole header
$headerBorderColor = $grayOOO // border color of header sections

$userContainerBgColor = $black
$userContainerHoverBgColor = #E6253D
$userContainerColor = $blackO // $white
$userContainerIconColor = $white
$userContainerLinkColor = $blackO // $white
$userContainerSepLineColor = $blackTrue // line between user links

$seachBarColor = $blackO
$seachBarCloseBgColor = $white
$seachBarCloseColor = $black

$socialItemColor = $textColor
$socialItemHoverColor = $white

$navbarItemLineColor = #2A2A2A

$navbarBgColor = transparent // pc version
$navbarMbBgColor = rgba(0, 0, 0, 0.8) // mobile version
$navbarItemBgColor = transparent
$navbarItemBorderColor = $mainColor
$navbarItemColor = $textColor
$navbarItemHoverBgColor = $mainColor
$navbarItemHoverColor = $forgroundColor

$navbarSubBgColor = rgba(0, 0, 0, 0.8)
$navbarSubBoxShadowColor = $grayOOO
$navbarSubItemBgColor = transparent
$navbarSubItemBorderColor = $grayOO
$navbarSubItemColor = $textColor
$navbarSubItemHoverBgColor = $mainColor
$navbarSubItemHoverColor = $forgroundColor

$navbarSub2BgColor = rgba(0, 0, 0, 0.8)
$navbarSub2BoxShadowColor = $grayOOO
$navbarSub2ItemBgColor = #1A1A1A
$navbarSub2ItemBorderColor = $grayOO
$navbarSub2ItemColor = $textColor
$navbarSub2ItemMbBgColor = #2A2A2A
$navbarSub2ItemMbColor = $textColor
$navbarSub2ItemHoverBgColor = $mainColor
$navbarSub2ItemHoverColor = $forgroundColor

$pcTopSearchBgColor = transparent
$pcTopSearchBorderColor = #909090

$pcTopSearchInputBgColor = transparent
$pcTopSearchInputColor = $blackOO
$pcTopSearchInputFocusBgColor = transparent
$pcTopSearchInputFocusColor = $blackOOO

$pcTopSearchBtnBgColor = transparent
$pcTopSearchBtnColor = #B4B4B4
$pcTopSearchBtnHoverColor = $white

$pcTopSearchTipListColor = $blackOO
$pcTopSearchTipListBgColor = #1A1A1A
$pcTopSearchTipListBorderColor = #1A1A1A
$pcTopSearchTipListShadowColor = rgba(0, 0, 0, 0.20)
$pcTopSearchTipListItemHoverBgColor = $backgroundColor
$pcTopSearchTipListItemHoverColor = $forgroundColor

$mbTopSearchBgColor = rgba(0, 0, 0, 0.8)
$mbTopSearchBorderColor = rgba(0, 0, 0, 0.8)
$mbTopSearchInputBgColor = $forgroundColor
$mbTopSearchInputColor = $blackO
$mbTopSearchBtnBgColor = $forgroundColor
$mbTopSearchBtnColor = $black
$mbTopSearchLabelBgColor = rgba(0, 0, 0, 0.8)
$mbTopSearchLabelColor = $blackOO

$moduleTitleBgColor = transparent  // common color of module title
$moduleTitleColor = $mainColor

$cdTopBoxShadowColor = rgba(252, 65, 88, 0.6)
$cdTopBgColor = $mainColor
$cdTopBorderColor = $mainColor
$cdTopColor = $forgroundColor
$cdTopHoverBgColor = $backgroundColor
$cdTopHoverBorderColor = $backgroundColor
$cdTopHoverColor = $white

// footer

$footerBgColor = #FDB82C // main bg color
$footerAltBgColor = #FEC444 // alt featured bg color
$footerNavBgColor = #141414 // footer navbar bg color
$footerBorderColor = #141414
$footerColor = $blackOO
$footerTitleColor = $white

$footerIconSupportColor = $white
$footerIconSocialColor = $grayO
$footerLinkBorderColor = $white
$footerLinkColor = #7F7F7F
$footerLinkHoverColor = $white

// home

$carouselSectionBgColor = transparent
$carouselThunmbIndicatorBgColor = #F7F7F7
$carouselDotIndicatorBgColor = $white
$carouselDotIndicatorColor = $black
$carouselDotIndicatorActiveBgColor = $mainColor
$carouselDotIndicatorActiveColor = #F1EEEA
$carouselDirControlBgColor = rgba(255, 255, 255, 0.5)
$carouselDirControlColor = $white
$carouselDirControlHoverBgColor = $mainColor
$carouselDirControlHoverColor = $white

$aboutUsSectionBgColor = $forgroundColor
$aboutUsSectionColor = $textColor
$aboutUsSectionTitleColor = $mainColor
$aboutUsSectionTitleIconColor = $mainColor
$aboutUsSectionTitleLineColor = #009800

$advertSectionBgColor = #FDB82C
$advertItemShadowColor = transparent
$advertItemHoverShadowColor = $blackO

$newestProductTitleLineColor = $white // $mainColor

// products

$profileSectionLineColor = #2A2A2A
$productTitleBgColor = $whiteOO
$productTitleLineColor = $white
$productListCntrBgColor = $forgroundColor // $white

$categoryIconColor = #6C6C6C // icon before title
$categoryBorderColor = $black // color of border bottom and others

$categoryColor = $blackOO
$categoryAllColor = $blackOO
$categorySubBgColor = #FDFAF3
$categorySubColor = $blackOO
$categorySubHoverColor = $mainColor

$itemCountDescColor = $textColor // products count description
$itemCountDescNumColor = $mainColor // products count number

$itemBgColor = #141414
$itemBorderColor = #EBF0F6 // $white
$itemBoxShadowColor = $blackTrue
$itemOverlayBgColor = $grayOO
$itemOverlayBgOpacity = 0.5

$itemTitleColor = $white
$itemLearnMoreCntrBgColor = $white
$itemLearnMoreBgColor = $mainColor
$itemLearnMoreBorderColor = $mainColor
$itemLearnMoreColor = $white
$itemLearnMoreHoverBgColor = $secondaryColor
$itemLearnMoreHoverBorderColor = $secondaryColor
$itemLearnMoreHoverColor = $white

// search

$searchTextColor = $textColor
$searchEmptyInfoColor = $textColor
$searchEmptyInfoKeywordsColor = $white
$searchResultNumColor = $mainColor
$searchResultKeywordsColor = $mainColor

// details

$mainPicCarouselCtrlBgColor = #DCDCDC
$mainPicCarouselCtrlBorderColor = #DCDCDC
$mainPicCarouselCtrlColor = $white
$mainPicCarouselCtrlHoverBgColor = $mainColor
$mainPicCarouselCtrlHoverBorderColor = $mainColor
$mainPicCarouselCtrlHoverColor = $white

$mainPicMagnifySwitchBgColor = #DCDCDC
$mainPicMagnifySwitchColor = $white
$mainPicMagnifySwitchHoverBgColor = $mainColor
$mainPicMagnifyShowBgColor = $white

$detailTitleColor = $white // color of product name
$detailTitleUnitColor = $blackOO // color of unit of product

$priceTabBgColor = #F2F2F2 // background color of price table
$detailLineColor = #2A2A2A // line to sep product properties
$detailTextColor = $blackO // common text color of detail area
$detailPriceColor = $mainColor
$detailLabelColor = $blackOO // color of product property
$detailItemColor = $white // color of product property value
$detailNumBgColor = $forgroundColor // background color of property table

$detailThumbBorderWidth = 1px
$detailThumbBorderColor = $grayO
$detailThumbHoverBorderColor = $mainColor

$shareTogleBgColor = $white
$shareTogleBorderColor = #D8D8D8
$shareMbIconColor = $blackO // icon color of mobile version
$shareLinkIconBgColor = $black
$shareLinkIconColor = $white

$itemDetailDefatulColor = $textColor // default color of product details

// profile

$profileSectionBoxShadowColor = rgba(0,0,0,0.02)
$profileSectionLineColor = #2A2A2A
$profileAboutUsTitleBgColor = $whiteOO

$tradeCertNavBgNormal = #919191
$tradeCertNavBgActive = $mainColor
$tradeCertNavColor = $forgroundColor
$tradeCertNavHoverColor = $forgroundColor
$tradeCertBorderColor = transparent

$downloadItemBgColor = transparent
$downloadItemBorderColor = #2A2A2A
$downloadItemHoverBgColor = #202020
$downloadItemHoverBorderColor = #2A2A2A

$maskArrowColor = $blackOOO
$maskCloseColor = $white

// contacts

$contactSectionBoxShadowColor = rgba(0, 0, 0, 0.02)
$contactSectionBgColor = $forgroundColor

$contactTitleBgColor = $whiteOO
