@import "../../../common/style/normal.styl"
@import "../common/color.styl"
@import "../common/normal.styl"
@import "../common/header.styl"
@import "../common/footer.styl"
@import "./indexTemplate/carousel.styl"
@import "./indexTemplate/advert.styl"
@import "./indexTemplate/aboutUs.styl"
@import "./indexTemplate/products.styl"

.jumbotron
  background-size 100% auto
  background $carouselSectionBgColor

#nprogress
  .bar
    background $mainColor
