$theme = theme12

// base

$mainColor = #EAAB1C
$forgroundColor = #1C1E29
$secondaryColor = #191919

$linkColor = #D9D9D9
$errorColor = #F92424
$success = #99CC32
$warning = #FBAE3D

$blackTrue = #000
$black = #333
$blackO = #666
$blackOO = #999
$blackOOO = #CCC

$gray = #BBB
$grayO = #D8D8D8
$grayOO = #E8E8E8
$grayOOO = #F2F2F2

$white = #FFF
$whiteO = #E6E6E6
$whiteOO = #F6F6F6

// common

$loadingBg = #EFF0F1

$inputBgColor = $white
$inputBorderColor = $grayO
$inputHoverBorderColor = $mainColor

$selectBgColor = $white
$selectBorderColor = $grayO
$selectHoverBorderColor = $mainColor
$selectColor = $forgroundColor

$selectItemBgColor = $white
$selectItemColor = $forgroundColor
$selectItemHoverBgColor = #FCF6E8
$selectItemHoverColor = $forgroundColor

// header

$headerBgColor = $white

$pcTopSearchBgColor = $white
$pcTopSearchBorderColor = #D8D8D8
$pcTopSearchInputBgColor = #F6F6F6
$pcTopSearchInputColor = $blackOOO
$pcTopSearchBtnBgColor = $mainColor
$pcTopSearchBtnColor = #6C6C6C
$pcTopSearchTipListBgColor = $white
$pcTopSearchTipListShadowColor = rgba(0, 0, 0, 0.20)

$mbTopSearchBgColor = $white
$mbTopSearchBorderColor = rgba(0, 0, 0, 0.2)
$mbTopSearchInputBgColor = $white
$mbTopSearchInputColor = $blackO
$mbTopSearchBtnBgColor = $blackTrue
$mbTopSearchBtnColor = #6C6C6C
$mbTopSearchLabelBgColor = $white

$navbarBgColor = $white
$navbarItemBgColor = $white
$navbarItemColor = #6C6C6C
$navbarItemHoverColor = $secondaryColor

$navbarSubBgColor = $white
$navbarSubItemBgColor = $white
$navbarSubItemColor = $blackO
$navbarSubItemHoverColor = $mainColor
$navbarSub2BgColor = $white
$navbarSub2ItemBgColor = $white
$navbarSub2ItemColor = $blackO
$navbarSub2ItemHoverColor = $mainColor

// products

$categorySubColor = #6C6C6C

// profile

$tradeCertNavBgNormal = $whiteOO
$tradeCertNavBgActive = $mainColor
$tradeCertNavColor = $grayO

// footer

$footerBgColor = $white
$footerBorderColor = #D8D8D8
$footerColor = #6C6C6C

// social

$facebookColor = #577DCE
$twitterColor = #48B4FD
$linkedInColor = #259BD8
$pinterestColor = #FA5855

$socialForgoundColor = #FFF500
$socialFacebookBgColor = $mainColor
$socialLinkedInBgColor = $mainColor
$socialTwitterBgColor = #F92424
