div(style='overflow:hidden' id='trademarks')
  .col-xs-12.arrow-container
    div
      #profile-cert.arrow-container
        .title.module-title
          | TRADEMARKS
          span.caret.caret-right
          span.line
        i.icon-arrow.icon-arrow-left.icon-font.theme-icon.icon-left.hidden-xs
        i.icon-arrow.icon-arrow-right.icon-font.theme-icon.icon-right.hidden-xs
        .content-container.trademark
            //include common/visible-xs-list
            //include common/hidden-xs-list
