@import "../common/color.styl"
@import "../common/header.styl"
@import "../common/footer.styl"
@import "../../../common/style/normal.styl"
@import "../common/normal.styl"
@import "./productsTemplate/top-banner.styl"
@import "./productsTemplate/products-container.styl"

body
  background $white // #F7F7F7

.pagination
  margin 50px 0 0
