@import "../common/color.styl"
@import "../common/header.styl"
@import "../common/footer.styl"
@import "../../../common/style/normal.styl"
@import "../../../common/style/blog/blogCommon.styl"
@import "../common/normal.styl"
body
  background $whiteOO
#blog-container .validate-tip
  position inherit