div(style='overflow:hidden')
  .col-xs-12
    .container-fluid
      .title.module-title.hide
        | ABOUT US
        span.caret.caret-right
        span.line
      .content-container.about
        .row
          .comDesc.col-sm-12.col-xs-12
            p
          .col-sm-12.col-sm-offset-5.hide
            .title.module-title
              | ABOUT US
              span.caret.caret-right
              span.line
          //- #companydesc.col-sm-12.col-xs-12
          //-   .img-wrapper.clearfix
          //-     img
