//- Created by wangzhiw on 2017/5/09.
div(style='overflow:hidden;')
  #profile-desc
    .container.profile-container
      .row
        .col-xs-12
          .profile-section
            include about-us

    .profile-container
      include about-us-img

.container.profile-container
  .row
    .col-xs-12
      .profile-section
        include company-info
        include trademarks
        include download
include mask
