div(style='overflow:hidden', id='download')
  .col-xs-12
    .container-fluid
      #profile-file
        .title.module-title
          | Downloads
          span.caret.caret-right
          span.line
        .content-container.download.clearfix
          ul
          nav.pull-right(aria-label="Page navigation")
            //- ul.pagination.hidden-xs
          //.load-more-download.visible-xs
            //a.load-more
              //| LOAD MORE
              //i.theme-icon.icon-angle-double-right

