.top-banner
  width 100%
  padding-bottom 15.625%
  position relative
  overflow hidden
  img
    width 100%
    position absolute
    top 0

@media screen and (max-width: 767px)
  .top-banner
    padding-bottom 15.625%
