.top-banner
  width 100%
  position relative
  overflow hidden
  padding-bottom 15.62%
  //background #c6c7c9
  //#profile-topBanner
  //  padding-bottom 16%
  img
    width 100%
    position absolute
    top 0
// @media screen and (max-width: 768px)
//   .top-banner
//     padding-bottom 34%
//     img
//     	width auto
//     	height 40vw
//     	position absolute
//     	top 0
//     	left calc(50% - 128vw)