$theme = theme20

$blackTrue = #000
$black = #333
$blackO = #666
$blackOO = #999
$blackOOO = #CCC

$gray = #BBB
$grayO = #D8D8D8
$grayOO = #E8E8E8
$grayOOO = #F2F2F2

$white = #FFF
$whiteO = #E6E6E6
$whiteOO = #F6F6F6

// base

$mainColor = #20C1DC // main theme color
$secondaryColor = $mainColor // another main theme color
$backgroundColor = #26CEEA // main assistant color, e.g. color of button's hover state
$forgroundColor = $white // main forground color

$textColor = $blackO
$textActiveColor = $black
$linkColor = #717689

$alertColor = $textColor // $blackO
$infoBgColor = #E7F3FC
$infoBorderColor = #CFE8FA
$infoColor = $alertColor
$successBgColor = #48CF7D
$successBorderColor = #48CF7D
$successColor = $alertColor
$warningBgColor = #FFFAEA
$warningBorderColor = #FEC
$warningColor = $alertColor
$errorBgColor = #E6253D
$errorBorderColor = #E6253D
$errorColor = $alertColor

// common

$loadingBg = #EFF0F1

$inputLabelBgColor = transparent  // form item label
$inputLabelColor = $black
$inputLabelFocusColor = $black // $mainColor

$inputPlaceHolderColor = $grayO
$inputColor = rgb(153, 153, 153)
$inputBgColor = $forgroundColor
$inputBorderColor = #E5E5E5
$inputHoverBorderColor = #CCCCCC
$inputErrorBgColor = $forgroundColor
$inputErrorBorderColor = $errorBorderColor
$inputSuccessBgColor = $forgroundColor
$inputSuccessBorderColor = $successBorderColor

$selectBgColor = $forgroundColor
$selectBorderColor = #E5E5E5
$selectColor = $black
$selectHoverBorderColor = $black
$selectCaretColor = $black
$selectBorderRadius = 4px

$selectOptionsBorderColor = #DEDEDE
$selectItemBgColor = $selectOptionsBorderColor
$selectItemColor = $black
$selectItemHoverBgColor = $black
$selectItemHoverColor = $forgroundColor
$selectItemSelectedBgColor = $selectOptionsBorderColor
$selectItemSelectedColor = $black

$btnDefaultBgColor = $mainColor
$btnDefaultBorderColor = $mainColor
$btnDefaultColor = $white
$btnDefaultHoverBgColor = $backgroundColor
$btnDefaultHoverBorderColor = $backgroundColor
$btnDefaultHoverColor = $white
$btnBorderRadius = 4px
$btnDisableBgColor = #CBCBCB  // $whiteOO
$btnDisableColor = $white // $blackOOO

$tableBgColor = $forgroundColor
$tableBorderColor = #E5E5E5
$tableHoverBgColor = $forgroundColor
$tableHoverBorderColor = #E5E5E5
$tableThBgColor = $forgroundColor
$tableThColor = $blackOO
$tableTdColor = $black

$paginationBgColor = $forgroundColor
$paginationBorderColor = #F2F2F2
$paginationColor = $black
$paginationHoverBgColor = $mainColor
$paginationHoverBorderColor = $mainColor
$paginationHoverColor = $forgroundColor
$paginationActiveBgColor = $secondaryColor
$paginationActiveBorderColor = $secondaryColor
$paginationActiveColor = $forgroundColor
$paginationActiveHoverBgColor = $paginationActiveBgColor
$paginationActiveHoverBorderColor = $paginationActiveBorderColor
$paginationActiveHoverColor = $paginationActiveColor
$paginationDisabledBgColor = #E7E7E7
$paginationDisabledBorderColor = #E7E7E7
$paginationDisabledColor = $textColor

$paginationRadius = 4px

$mbLoadMoreBgColor = transparent
$mbLoadMoreBorderColor = #E7E7E7
$mbLoadMoreColor = $blackOO
$mbLoadMoreDisabledBgColor = $grayOO

// social

$facebookColor = #577DCE
$twitterColor = #48B4FD
$linkedInColor = #259BD8
$pinterestColor = #FA5855

$socialForgoundColor = $forgroundColor
$socialFacebookBgColor = $facebookColor
$socialTwitterBgColor = $twitterColor
$socialLinkedInBgColor = $linkedInColor
$socialPinterestBgColor = $pinterestColor

// header

$headerTopBgColor = rgba(32, 38, 39, 0.45) // header on top of navbar
$headerBgColor = rgba(32, 38, 39, 0.45) // whole header
$headerNoOpacicyBgColor = rgba(32, 38, 39, 1) // header bg with no opacity
$headerBorderColor = #202020 // border color of header sections, for mobile version use
$headerColor = $white
$mbHeaderBgColor = #202627  // mobile version header on top of navbar

$headerTopHeight = 0
$headerBottomHeight = 100px

$userContainerBgColor = transparent
$userContainerHoverBgColor = transparent
$userContainerColor = $white // $white
$userContainerIconColor = $white // $black
$userContainerLinkColor = $black // $white
$userContainerSepLineColor = #EDEDED // line between user links
$userContainerMenuBgColor = #21242D
$userContainerMenuBorderColor = #21242D
$userContainerMenuColor = #5C5D61
$userContainerMenuHoverBgColor = #21242D
$userContainerMenuHoverBorderColor = #21242D
$userContainerMenuHoverColor = $white

$seachBarColor = $blackO
$seachBarCloseBgColor = $black
$seachBarCloseColor = $white

$socialItemColor = $black
$socialItemHoverColor = $blackTrue

$navbarItemLineColor = #3D3F4E
$mbNavbarItemLineColor = $blackTrue

$navbarFullBgColor = transparent // rgba(32, 38, 39, 0.2) // $white linear-gradient(to bottom, #FFFFFF, #F8F8F8 25%, #E9E9E9 50%, #D9D9D9 75%, #CCCCCC) // pc version full width background color
$navbarWideBgColor = transparent // rgba(32, 38, 39, 0.2) // $white linear-gradient(to bottom, #FFFFFF, #F8F8F8 25%, #E9E9E9 50%, #D9D9D9 75%, #CCCCCC) // pc version background color include logo
$navbarBgColor = transparent // rgba(32, 38, 39, 0.2) // $white linear-gradient(to bottom, #FFFFFF, #F8F8F8 25%, #E9E9E9 50%, #D9D9D9 75%, #CCCCCC) // pc version only navbar background color
$navbarItemBgColor = transparent // using bg image // $white
$navbarItemBorderColor = $blackOO
$navbarItemColor = $white
$navbarItemHoverBgColor = $mainColor // using bg image // $white
$navbarItemHoverBorderColor = $blackOO
$navbarItemHoverColor = #1D2324 // $black
$navbarItemIconColor = $mainColor
$navbarSepBorderColor = #F6F6F6 // sep between navbar and body content
$mbnavbarWideBgColor = $white // mobile version background color include menu bar
$mbNavbarBgColor = $blackTrue // mobile version navbar background color
$mbNavbarItemBgColor = transparent
$mbNavbarItemBorderColor = $blackTrue
$mbNavbarItemColor = $white
$mbNavbarItemHoverBgColor = transparent
$mbNavbarItemHoverColor = $white
$mbNavbarItemIconColor = $mainColor

$navbarSubBgColor = $mainColor
$navbarSubBoxShadowColor = $grayOOO
$navbarSubItemBgColor = transparent
$navbarSubItemBorderColor = $mainColor
$navbarSubItemColor = #1D2324
$navbarSubItemHoverBgColor = #1D2324
$navbarSubItemHoverColor = $forgroundColor
$mbNavbarSubBgColor = transparent
$mbNavbarSubItemBgColor = transparent
$mbNavbarSubItemColor = $blackO

$navbarSub2BgColor = $mainColor
$navbarSub2BoxShadowColor = $grayOOO
$navbarSub2ItemBgColor = transparent
$navbarSub2ItemBorderColor = $mainColor
$navbarSub2ItemColor = #1D2324
$navbarSub2ItemHoverBgColor = #1D2324
$navbarSub2ItemHoverColor = $forgroundColor
$mbNavbarSub2BgColor = transparent
$mbNavbarSub2ItemBgColor = $black
$mbNavbarSub2ItemBorderColor = $black
$mbNavbarSub2ItemColor = $blackOO
$mbNavbarSub2ItemHoverBgColor = $black
$mbNavbarSub2ItemHoverColor = $forgroundColor

$pcTopSearchRadius = 4px
$pcTopSearchBgColor = transparent
$pcTopSearchBorderColor = #555A5B
$pcTopSearchShadowColor = #F2F2F2
$pcTopSearchInputBgColor = #1D2324
$pcTopSearchInputBorderColor = $pcTopSearchBorderColor
$pcTopSearchInputColor = $black
$pcTopSearchInputFocusBgColor = $blackO
$pcTopSearchInputFocusBorderColor = $pcTopSearchBorderColor // $blackOO
$pcTopSearchInputFocusColor = $black
$pcTopSearchBtnBgColor = transparent
$pcTopSearchBtnColor = $white
$pcTopSearchBtnHoverBgColor = $white
$pcTopSearchBtnHoverColor = $black
$pcTopSearchTipListColor = $black
$pcTopSearchTipListBgColor = $blackOO
$pcTopSearchTipListBorderColor = $blackO
$pcTopSearchTipListShadowColor = rgba(0, 0, 0, 0.20)
$pcTopSearchTipListItemHoverBgColor = $blackO
$pcTopSearchTipListItemHoverColor = $forgroundColor

$mbTopSearchBgColor = rgba(0, 0, 0, 0.8)
$mbTopSearchBorderColor = rgba(0, 0, 0, 0.8)
$mbTopSearchInputBgColor = $forgroundColor
$mbTopSearchInputColor = $blackO
$mbTopSearchBtnBgColor = $forgroundColor
$mbTopSearchBtnColor = $black
$mbTopSearchLabelBgColor = rgba(0, 0, 0, 0.8)
$mbTopSearchLabelColor = $white
$mbTopSearchTipListColor = $blackOO
$mbTopSearchTipListBgColor = rgba(0,0,0,0.8)
$mbTopSearchTipListBorderColor = rgba(0,0,0,0.8)
$mbTopSearchTipListItemHoverBgColor = $backgroundColor
$mbTopSearchTipListItemHoverColor = $forgroundColor

$moduleTitleBgColor = transparent  // common color of module title
$moduleTitleColor = $black
$moduleTitleLineColor = $mainColor

$cdTopBoxShadowColor = rgba(252, 65, 88, 0.6)
$cdTopBgColor = $mainColor
$cdTopBorderColor = $mainColor
$cdTopColor = $forgroundColor
$cdTopHoverBgColor = $backgroundColor
$cdTopHoverBorderColor = $backgroundColor
$cdTopHoverColor = $white

// footer

$footerBgColor = #1A1F20 linear-gradient(to right, #202627, #202627 25%, #1A1F20 50%, #131718 75%, #131718) // main bg color
$footerBgAltColor = $footerBgColor // alt featured bg color
$footerNavBgColor = $footerBgColor // footer navbar bg color
$footerBorderColor = transparent // #222222
$footerBorderAltColor = transparent // #253D6B
$footerColor = $blackOO
$footerAltColor = $blackOO
$footerTitleColor = $white

$footerIconSupportColor = $blackOO
$footerIconSupportAltColor = $blackOO
$footerIconSocialColor = $blackOO
$footerLinkBorderColor = $white
$footerLinkColor = $blackOO
$footerLinkHoverColor = $white

// home

$carouselSectionBgColor = #202627
$carouselThunmbIndicatorBgColor = #F7F7F7
$carouselDotIndicatorBgColor = #4D4D4D
$carouselDotIndicatorBorderColor = #4D4D4D
$carouselDotIndicatorColor = $white
$carouselDotIndicatorActiveBgColor = $white
$carouselDotIndicatorActiveBorderColor = $white
$carouselDotIndicatorActiveColor = $black
$carouselDirControlBgColor = #4C5051
$carouselDirControlColor = #232829
$carouselDirControlHoverBgColor = $mainColor
$carouselDirControlHoverColor = $white

$aboutUsSectionBgColor = #202627
$aboutUsSectionColor = $blackOO
$aboutUsSectionTitleColor = $white // $mainColor
$aboutUsSectionTitleIconColor = $mainColor
$aboutUsSectionTitleLineColor = #A5ACB9
$aboutUsSectionDescBgColor = transparent
$aboutUsLearnMoreBtnBgColor = $white
$aboutUsLearnMoreBtnBorderColor = $white
$aboutUsLearnMoreBtnColor = $mainColor
$mbAboutUsSectionTitleColor = $white // $mainColor

$advertSectionBgColor = $white
$advertItemShadowColor = transparent
$advertItemBorderColor = $advertSectionBgColor
$advertItemBorderHoverColor = $mainColor
$advertItemHoverShadowColor = $gray

$newestProductSectionBgColor = transparent // #F7F7F7
$newestProductSectionTitleColor = $black // $mainColor
$newestProductTitleBorderColor = #EEEEEE
$newestProductTitleLineColor = #A5ACB9 // $mainColor

// products

$profileSectionLineColor = #2A2A2A
$productTitleBgColor = $whiteOO
$productTitleColor = $black //  $mainColor
$productTitleLineColor = $mainColor // $white
$productListCntrBgColor = $forgroundColor // $white

$categoryIconColor = #6C6C6C // icon before title
$categoryBorderColor = #E9E9E9 // color of border bottom and others

$categoryColor = $black
$categoryAllColor = $black
$categorySubBgColor = #FDFAF3
$categorySubColor = $blackOO
$categorySubHoverColor = $mainColor

$itemCountDescColor = $textColor // products count description
$itemCountDescNumColor = $mainColor // products count number

$itemBgColor = $white
$itemBorderColor = $white // $white
$itemHoverBorderColor = $mainColor // $white
$itemBoxShadowColor = $black
$itemOverlayBgColor = $grayOO
$itemOverlayBorderColor = $mainColor // transparent
$itemOverlayBgOpacity = 0

$itemTitleBgColor = rgba(0, 0, 0, 0.9)
$itemTitleColor = $white
$itemTitleHoverBgColor = $mainColor
$itemTitleHoverColor = $white
$itemLearnMoreCntrBgColor = $white
$itemLearnMoreBgColor = transparent // $mainColor
$itemLearnMoreBorderColor = transparent // $mainColor
$itemLearnMoreColor = $white
$itemLearnMoreHoverBgColor = transparent // $secondaryColor
$itemLearnMoreHoverBorderColor = transparent // $secondaryColor
$itemLearnMoreHoverColor = $white

// search

$searchTextColor = $textColor
$searchEmptyInfoColor = $textColor
$searchEmptyInfoKeywordsColor = $white
$searchResultNumColor = $mainColor
$searchResultKeywordsColor = $mainColor

// details

$mainPicSectionBgColor = #F5F5F5

$mainPicCarouselCtrlBgColor = #E8E8E8
$mainPicCarouselCtrlBorderColor = #E8E8E8
$mainPicCarouselCtrlColor = $white
$mainPicCarouselCtrlHoverBgColor = $mainColor
$mainPicCarouselCtrlHoverBorderColor = $mainColor
$mainPicCarouselCtrlHoverColor = $white

$mainPicMagnifySwitchBgColor = #DEDEDE
$mainPicMagnifySwitchColor = $white
$mainPicMagnifySwitchHoverBgColor = $mainColor
$mainPicMagnifyShowBgColor = $white

$detailTitleColor = $black // color of product name
$detailTitleUnitColor = $blackOO // color of unit of product

$priceTabBgColor = transparent // #F2F2F2 // background color of price table
$detailLineColor = #E0E0E0 // line to sep product properties
$detailTextColor = $blackTrue // common text color of detail area
$detailPriceColor = $mainColor
$detailLabelColor = $blackOO // color of product property
$detailItemColor = $blackTrue // color of product property value
$detailNumBgColor = transparent // $forgroundColor // background color of property table

$detailThumbBorderWidth = 1px
$detailThumbBorderColor = $grayO
$detailThumbHoverBorderColor = $mainColor

$shareTogleBgColor = $white
$shareTogleBorderColor = #D8D8D8
$shareLinkIconBgColor = $black
$shareLinkIconColor = $white
$mbShareIconColor = $blackO // icon color of mobile version

$itemDetailDefatulColor = $textColor // default color of product details

// profile

$profileAboutSectionBgColor = #F5F5F5

$profileSectionBoxShadowColor = rgba(0,0,0,0.02)
$profileSectionLineColor = #EBEBEB
$profileAboutUsTitleBgColor = $forgroundColor

$tradeCertNavBgNormal = #E8E8E8
$tradeCertNavBgActive = $mainColor
$tradeCertNavBorderColor = #E8E8E8
$tradeCertNavColor = $white
$tradeCertNavHoverColor = $white
$tradeCertBgColor = $white
$tradeCertBorderColor = #F2F2F2

$downloadItemBgColor = transparent
$downloadItemBorderColor = #EBEBEB
$downloadItemHoverBgColor = #FBFBFB
$downloadItemHoverBorderColor = #EBEBEB

$maskArrowColor = $blackOOO
$maskCloseColor = $white

// contacts

$contactSectionBoxShadowColor = rgba(0, 0, 0, 0.02)
$contactSectionBgColor = $forgroundColor

$contactTitleBgColor = $whiteOO
