@font-face {
  font-family: 'buyer-theme_11';
  src: url('/assets/theme20/font/buyer-theme_11.eot?19322747');
  src: url('/assets/theme20/font/buyer-theme_11.eot?19322747#iefix') format('embedded-opentype'),
       url('/assets/theme20/font/buyer-theme_11.woff?19322747') format('woff'),
       url('/assets/theme20/font/buyer-theme_11.ttf?19322747') format('truetype'),
       url('/assets/theme20/font/buyer-theme_11.svg?19322747#buyer-theme_11') format('svg');
  font-weight: normal;
  font-style: normal;
}

.theme-icon
  font-family "buyer-theme_11"
  font-style normal
  font-weight normal
  speak none
  display inline-block
  text-decoration: inherit
  // width 1em
  // margin-right .2em
  font-size 16px
  text-align center
  // For safety - reset parent styles, that can break glyph codes
  font-variant normal
  text-transform none
  // fix buttons height, for twitter bootstrap
  // line-height 1em
  // Animation center compensation - margins should be symmetric
  // remove if not needed
  // margin-left .2em
  // You can be more comfortable with increased icons size
  // font-size 120%
  // Font smoothing. That was taken from TWBS
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  // Uncomment for 3D effect
  // text-shadow 1px 1px 1px rgba(127, 127, 127, 0.3)
  &.icon-chevron-up:before
    content '\e800'
  &.icon-chevron-down:before
    content '\e801'
  &.icon-minus:before
    content '\e802'
  &.icon-plus:before
    content '\e803'
  &.icon-down-dir:before
    content '\e804'
  &.icon-left-dir:before
    content '\e805'
  &.icon-right-open:before
    content '\e806'
  &.icon-right-dir:before
    content '\e807'
  &.icon-up-dir:before
    content '\e808'
  &.icon-cancel:before
    content '\e809'
  &.icon-phone:before
    content '\e80a'
  &.icon-user:before
    content '\e80b'
  &.icon-search:before
    content '\e80c'
  &.icon-key:before
    content '\e80d'
  &.icon-twitter:before
    content '\f099'
  &.icon-facebook:before
    content '\f09a'
  &.icon-mail-alt:before
    content '\f0e0'
  &.icon-linkedin:before
    content '\f0e1'
  &.icon-doc-text:before
    content '\f0f6'
  &.icon-angle-double-left:before
    content '\f100'
  &.icon-angle-double-right:before
    content '\f101'
  &.icon-angle-left:before
    content '\f104'
  &.icon-angle-right:before
    content '\f105'
  &.icon-angle-up:before
    content '\f106'
  &.icon-angle-down:before
    content '\f107'
  &.icon-keyboard:before
    content '\f11c'
  &.icon-instagram:before
    content '\f16d'
  &.icon-left:before
    content '\f177'
  &.icon-right:before
    content '\f178'
  &.icon-institue:before
    content '\f19c'
  &.icon-google:before
    content '\f1a0'
  &.icon-file-pdf:before
    content '\f1c1'
  &.icon-file-word:before
    content '\f1c2'
  &.icon-file-excel:before
    content '\f1c3'
  &.icon-file-archive:before
    content '\f1c6'
  &.icon-pinterest:before
    content '\f231'
  &.icon-dot-3:before
    content '\e80e'
  &.icon-ellipsis:before
    content '\f141'
  &.icon-ellipsis-vert:before
    content '\f142'
  &.icon-home:before
    content '\e80f'
  &.icon-eye:before
    content '\e811'
  &.icon-ok-circled:before
    content '\f06d'
  &.icon-download:before
    content '\e810'
  &.vert
    transform rotate(90deg)
