.aboutUs-container
  .container.aboutUs#aboutUs
    .title-wrapper
      .title
        span About
        | Us
        span.title-line
    .aboutUs-img.col-sm-12.col-xs-12
      .title.hidden
        span About
        | Us
        span.title-line
      .ab-img-container.default-color
        //- img#img-left(src='')
        .img-hold
    .discrible-container.col-sm-12.col-xs-12
      .title.hidden
        span About
        | Us
        span.title-line
      .discrible
        .discrible-text
          p.text-loading
          p.text-loading
          p.text-loading
          p.text-loading.half
        p.text-loading.btn
        //- p.btn-blue LEARN MORE
