.aboutUs-container
  .container.aboutUs#aboutUs(style="padding:0 15px;")
    .title-wrapper.visible-xs
      .title
        span About
        | Us
        span.title-line
    .row
      .discrible-container.col-sm-6.col-xs-12
        .discrible-cntr
          .title.hidden-xs
            span About
            | Us
            span.title-line
          .discrible
            .discrible-text
              p.text-loading
              p.text-loading
              p.text-loading
              p.text-loading.half
            p.text-loading.btn
            //- p.btn-blue LEARN MORE
      .aboutUs-img.col-sm-6.col-xs-12
        .title.hide
          span About
          | Us
          span.title-line
        .ab-img-container.default-color
          //- img#img-left(src='')
          .img-hold
