$theme = theme17

$blackTrue = #000
$black = #333
$blackO = #666
$blackOO = #999
$blackOOO = #CCC

$gray = #BBB
$grayO = #D8D8D8
$grayOO = #E8E8E8
$grayOOO = #F2F2F2

$white = #FFF
$whiteO = #E6E6E6
$whiteOO = #F6F6F6

// base

$mainColor = #4372E3 // main theme color
$secondaryColor = $mainColor // another main theme color
$backgroundColor = #547FE5 // main assistant color, e.g. color of button's hover state
$forgroundColor = $white // main forground color

$textColor = $blackO
$textActiveColor = $black
$linkColor = #717689

$alertColor = $textColor // $blackO
$infoBgColor = #E7F3FC
$infoBorderColor = #CFE8FA
$infoColor = $alertColor
$successBgColor = #48CE7D
$successBorderColor = #48CE7D
$successColor = $alertColor
$warningBgColor = #FFFAEA
$warningBorderColor = #FEC
$warningColor = $alertColor
$errorBgColor = #EEADB0
$errorBorderColor = #EEADB0
$errorColor = $alertColor

// common

$loadingBg = #EFF0F1

$inputLabelBgColor = transparent  // form item label
$inputLabelColor = $black
$inputLabelFocusColor = $black // $mainColor

$inputPlaceHolderColor = $grayO
$inputColor = rgb(153, 153, 153)
$inputBgColor = $forgroundColor
$inputBorderColor = #EAEAEA
$inputHoverBorderColor = #DDDDDD
$inputErrorBgColor = $forgroundColor
$inputErrorBorderColor = $errorBorderColor
$inputSuccessBgColor = $forgroundColor
$inputSuccessBorderColor = $successBorderColor

$selectBgColor = $forgroundColor
$selectBorderColor = #DEDEDE
$selectColor = $black
$selectHoverBorderColor = $black
$selectCaretColor = $black
$selectBorderRadius = 4px

$selectOptionsBorderColor = #DEDEDE
$selectItemBgColor = $selectOptionsBorderColor
$selectItemColor = $black
$selectItemHoverBgColor = $black
$selectItemHoverColor = $forgroundColor
$selectItemSelectedBgColor = $selectOptionsBorderColor
$selectItemSelectedColor = $black

$btnDefaultBgColor = $mainColor
$btnDefaultBorderColor = $mainColor
$btnDefaultColor = $white
$btnDefaultHoverBgColor = $backgroundColor
$btnDefaultHoverBorderColor = $backgroundColor
$btnDefaultHoverColor = $white
$btnBorderRadius = 4px
$btnDisableBgColor = #CBCBCB  // $whiteOO
$btnDisableColor = $white // $blackOOO

$tableBgColor = $forgroundColor
$tableBorderColor = #E5E5E5
$tableHoverBgColor = $forgroundColor
$tableHoverBorderColor = #E5E5E5
$tableThBgColor = #F0F0F0
$tableThColor = $blackOO
$tableTdColor = $black

$paginationBgColor = $forgroundColor
$paginationBorderColor = #E7E7E7
$paginationColor = $black
$paginationHoverBgColor = $mainColor
$paginationHoverBorderColor = $mainColor
$paginationHoverColor = $forgroundColor
$paginationActiveBgColor = $secondaryColor
$paginationActiveBorderColor = $secondaryColor
$paginationActiveColor = $forgroundColor
$paginationActiveHoverBgColor = $paginationActiveBgColor
$paginationActiveHoverBorderColor = $paginationActiveBorderColor
$paginationActiveHoverColor = $paginationActiveColor
$paginationDisabledBgColor = #E7E7E7
$paginationDisabledBorderColor = #E7E7E7
$paginationDisabledColor = $textColor

$paginationRadius = 4px

$mbLoadMoreBgColor = transparent
$mbLoadMoreBorderColor = #E7E7E7
$mbLoadMoreColor = $blackOO
$mbLoadMoreDisabledBgColor = $grayOO

// social

$facebookColor = #577DCE
$twitterColor = #48B4FD
$linkedInColor = #259BD8
$pinterestColor = #FA5855

$socialForgoundColor = $forgroundColor
$socialFacebookBgColor = $facebookColor
$socialTwitterBgColor = $twitterColor
$socialLinkedInBgColor = $linkedInColor
$socialPinterestBgColor = $pinterestColor

// header

$headerTopBgColor = transparent // header on top of navbar
$headerBgColor = transparent // whole header
$headerBorderColor = $grayOOO // border color of header sections, for mobile version use
$mbHeaderBgColor = $headerTopBgColor  // mobile version header on top of navbar

$userContainerBgColor = $black
$userContainerHoverBgColor = #E6253D
$userContainerColor = $blackO // $white
$userContainerIconColor = $white
$userContainerLinkColor = $blackO // $white
$userContainerSepLineColor = $blackTrue // line between user links

$seachBarColor = $blackO
$seachBarCloseBgColor = $white
$seachBarCloseColor = $black

$socialItemColor = $textColor
$socialItemHoverColor = $white

$navbarItemLineColor = #3D3F4E
$mbNavbarItemLineColor = $grayOO

$navbarFullBgColor = transparent // pc version full width background color
$navbarWideBgColor = transparent // pc version background color include logo
$navbarBgColor = #21242D // pc version only navbar background color
$navbarItemBgColor = #21242D
$navbarItemBorderColor = $mainColor
$navbarItemColor = $forgroundColor
$navbarItemHoverBgColor = $mainColor
$navbarItemHoverColor = $forgroundColor
$navbarItemIconColor = $mainColor
$mbnavbarWideBgColor = $white // mobile version background color include menu bar
$mbNavbarBgColor = $blackTrue // mobile version navbar background color
$mbNavbarItemBgColor = transparent
$mbNavbarItemBorderColor = $whiteO
$mbNavbarItemColor = $blackTrue
$mbNavbarItemHoverBgColor = transparent
$mbNavbarItemHoverColor = $blackTrue
$mbNavbarItemIconColor = $mainColor

$navbarSubBgColor = #21242D
$navbarSubBoxShadowColor = $grayOOO
$navbarSubItemBgColor = transparent
$navbarSubItemBorderColor = #3D3F4E
$navbarSubItemColor = #717689
$navbarSubItemHoverBgColor = $mainColor
$navbarSubItemHoverColor = $forgroundColor
$mbNavbarSubBgColor = transparent
$mbNavbarSubItemBgColor = transparent
$mbNavbarSubItemColor = $black

$navbarSub2BgColor = $navbarSubBgColor
$navbarSub2BoxShadowColor = $grayOOO
$navbarSub2ItemBgColor = #2A2A2A
$navbarSub2ItemBorderColor = #3D3F4E
$navbarSub2ItemColor = $textColor
$navbarSub2ItemHoverBgColor = $mainColor
$navbarSub2ItemHoverColor = $forgroundColor
$mbNavbarSub2BgColor = $white
$mbNavbarSub2ItemBgColor = #EFF0F1
$mbNavbarSub2ItemBorderColor = #EFF0F1
$mbNavbarSub2ItemColor = $black
$mbNavbarSub2ItemHoverBgColor = $mainColor
$mbNavbarSub2ItemHoverColor = $forgroundColor

$pcTopSearchBgColor = $navbarBgColor
$pcTopSearchBorderColor = $navbarItemLineColor
$pcTopSearchInputBgColor = transparent
$pcTopSearchInputBorderColor = $pcTopSearchBorderColor
$pcTopSearchInputColor = $blackOO
$pcTopSearchInputFocusBgColor = transparent
$pcTopSearchInputFocusBorderColor = #909296
$pcTopSearchInputFocusColor = $blackOOO
$pcTopSearchBtnBgColor = transparent
$pcTopSearchBtnColor = #B4B4B4
$pcTopSearchBtnHoverColor = $white
$pcTopSearchTipListColor = $blackOO
$pcTopSearchTipListBgColor = $navbarBgColor
$pcTopSearchTipListBorderColor = $navbarBgColor
$pcTopSearchTipListShadowColor = rgba(0, 0, 0, 0.20)
$pcTopSearchTipListItemHoverBgColor = $backgroundColor
$pcTopSearchTipListItemHoverColor = $forgroundColor

$mbTopSearchBgColor = rgba(0, 0, 0, 0.8)
$mbTopSearchBorderColor = rgba(0, 0, 0, 0.8)
$mbTopSearchInputBgColor = $forgroundColor
$mbTopSearchInputColor = $blackO
$mbTopSearchBtnBgColor = $forgroundColor
$mbTopSearchBtnColor = $black
$mbTopSearchLabelBgColor = rgba(0, 0, 0, 0.8)
$mbTopSearchLabelColor = $white
$mbTopSearchTipListColor = $blackOO
$mbTopSearchTipListBgColor = rgba(0,0,0,0.8)
$mbTopSearchTipListBorderColor = rgba(0,0,0,0.8)
$mbTopSearchTipListItemHoverBgColor = $backgroundColor
$mbTopSearchTipListItemHoverColor = $forgroundColor

$moduleTitleBgColor = transparent  // common color of module title
$moduleTitleColor = $black
$moduleTitleLineColor = #E3E3E3

$cdTopBoxShadowColor = rgba(252, 65, 88, 0.6)
$cdTopBgColor = $mainColor
$cdTopBorderColor = $mainColor
$cdTopColor = $forgroundColor
$cdTopHoverBgColor = $backgroundColor
$cdTopHoverBorderColor = $backgroundColor
$cdTopHoverColor = $white

// footer

$footerBgColor = #21242D // main bg color
$footerAltBgColor = #101217 // alt featured bg color
$footerNavBgColor = #21242D // footer navbar bg color
$footerBorderColor = #21242D
$footerColor = #717689
$footerTitleColor = #717689

$footerIconSupportColor = #478FE0
$footerIconSocialColor = #478FE0
$footerLinkBorderColor = $white
$footerLinkColor = #717689
$footerLinkHoverColor = $white

// home

$carouselSectionBgColor = transparent
$carouselThunmbIndicatorBgColor = #F7F7F7
$carouselDotIndicatorBgColor = $white
$carouselDotIndicatorColor = $black
$carouselDotIndicatorActiveBgColor = $mainColor
$carouselDotIndicatorActiveColor = #F1EEEA
$carouselDirControlBgColor = #30313C
$carouselDirControlColor = #717689
$carouselDirControlHoverBgColor = $mainColor
$carouselDirControlHoverColor = $white

$aboutUsSectionBgColor = $forgroundColor
$aboutUsSectionColor = #717689
$aboutUsSectionTitleColor = $white // $mainColor
$aboutUsSectionTitleIconColor = $mainColor
$aboutUsSectionTitleLineColor = #009800
$aboutUsSectionDescBgColor = #21242D // transparent

$advertSectionBgColor = #21242D
$advertItemShadowColor = transparent
$advertItemHoverShadowColor = $blackO

$newestProductSectionBgColor = transparent
$newestProductSectionTitleColor = $white // $mainColor
$newestProductTitleLineColor = #A3A4A8 // $mainColor

// products

$profileSectionLineColor = #2A2A2A
$productTitleBgColor = $whiteOO
$productTitleColor = $black //  $mainColor
$productTitleLineColor = #E3E3E3 // $white
$productListCntrBgColor = $forgroundColor // $white

$categoryIconColor = #6C6C6C // icon before title
$categoryBorderColor = #EBEBEB // color of border bottom and others

$categoryColor = $black
$categoryAllColor = $black
$categorySubBgColor = #FDFAF3
$categorySubColor = $black
$categorySubHoverColor = $mainColor

$itemCountDescColor = $textColor // products count description
$itemCountDescNumColor = $mainColor // products count number

$itemBgColor = $white
$itemBorderColor = #EBF0F6 // $white
$itemBoxShadowColor = $black
$itemOverlayBgColor = $grayOO
$itemOverlayBorderColor = $white // transparent
$itemOverlayBgOpacity = 0.5

$itemTitleColor = $black
$itemTitleHoverColor = $white
$itemLearnMoreCntrBgColor = $white
$itemLearnMoreBgColor = $mainColor
$itemLearnMoreBorderColor = $mainColor
$itemLearnMoreColor = $white
$itemLearnMoreHoverBgColor = $secondaryColor
$itemLearnMoreHoverBorderColor = $secondaryColor
$itemLearnMoreHoverColor = $white

// search

$searchTextColor = $textColor
$searchEmptyInfoColor = $textColor
$searchEmptyInfoKeywordsColor = $white
$searchResultNumColor = $mainColor
$searchResultKeywordsColor = $mainColor

// details

$mainPicCarouselCtrlBgColor = #8D8C92
$mainPicCarouselCtrlBorderColor = #8D8C92
$mainPicCarouselCtrlColor = $white
$mainPicCarouselCtrlHoverBgColor = $mainColor
$mainPicCarouselCtrlHoverBorderColor = $mainColor
$mainPicCarouselCtrlHoverColor = $white

$mainPicMagnifySwitchBgColor = #DEDEDE
$mainPicMagnifySwitchColor = $white
$mainPicMagnifySwitchHoverBgColor = $mainColor
$mainPicMagnifyShowBgColor = $white

$detailTitleColor = $black // color of product name
$detailTitleUnitColor = $blackOO // color of unit of product

$priceTabBgColor = transparent // #F2F2F2 // background color of price table
$detailLineColor = #EBEBEB // line to sep product properties
$detailTextColor = $blackTrue // common text color of detail area
$detailPriceColor = $mainColor
$detailLabelColor = $blackOO // color of product property
$detailItemColor = $blackTrue // color of product property value
$detailNumBgColor = transparent // $forgroundColor // background color of property table

$detailThumbBorderWidth = 1px
$detailThumbBorderColor = $grayO
$detailThumbHoverBorderColor = $mainColor

$shareTogleBgColor = $white
$shareTogleBorderColor = #D8D8D8
$shareLinkIconBgColor = $black
$shareLinkIconColor = $white
$mbShareIconColor = $blackO // icon color of mobile version

$itemDetailDefatulColor = $textColor // default color of product details

// profile

$profileSectionBoxShadowColor = rgba(0,0,0,0.02)
$profileSectionLineColor = #EBEBEB
$profileAboutUsTitleBgColor = $forgroundColor

$tradeCertNavBgNormal = #D8DFE9
$tradeCertNavBgActive = $mainColor
$tradeCertNavColor = $forgroundColor
$tradeCertNavHoverColor = $white
$tradeCertBgColor = $white
$tradeCertBorderColor = #F2F2F2

$downloadItemBgColor = transparent
$downloadItemBorderColor = #EBEBEB
$downloadItemHoverBgColor = #FBFBFB
$downloadItemHoverBorderColor = #EBEBEB

$maskArrowColor = $blackOOO
$maskCloseColor = $white

// contacts

$contactSectionBoxShadowColor = rgba(0, 0, 0, 0.02)
$contactSectionBgColor = $forgroundColor

$contactTitleBgColor = $whiteOO
