.guide-container
  .guide-img#guide-img
    .row
      //- JS中动态添加
      .col-xs-4.col-sm-4.img.animated.img-loading
        .img-holder
        //img(src='')
      .col-xs-4.col-sm-4.img.animated.img-loading
        .img-holder
        //img(src='')
      .col-xs-4.col-sm-4.img.animated.img-loading
        .img-holder
        //img(src='')
