$theme = theme13

// base

$mainColor = #24CEDD
$forgroundColor = #1C1E29
$secondaryColor = #7953DB

$linkColor = #359AF6
$errorColor = #FF3719
$success = #99CC32
$warning = #FBAE3D

$blackTrue = #000
$black = #333
$blackO = #666
$blackOO = #999
$blackOOO = #CCC

$gray = #BBB
$grayO = #D8D8D8
$grayOO = #E8E8E8
$grayOOO = #F2F2F2

$white = #FFF
$whiteO = #E6E6E6
$whiteOO = #F6F6F6

// common

$loadingBg = #EFF0F1

$inputBgColor = $white
$inputBorderColor = $grayO
$inputHoverBorderColor = $mainColor

$selectBgColor = $white
$selectBorderColor = $grayO
$selectHoverBorderColor = $mainColor
$selectColor = $forgroundColor

$selectItemBgColor = $white
$selectItemColor = $forgroundColor
$selectItemHoverBgColor = rgba(30,193,207, 0.6)
$selectItemHoverColor = $white

// header

$headerBgColor = $white

$navbarBgColor = $mainColor
$navbarItemBgColor = $mainColor
$navbarItemColor = $white
$navbarItemHoverBgColor = $secondaryColor
$navbarItemHoverColor = $white

$navbarSubBgColor = $white
$navbarSubItemBgColor = $white
$navbarSubItemColor = $blackO
$navbarSubItemHoverColor = $mainColor
$navbarSub2BgColor = $white
$navbarSub2ItemBgColor = $white
$navbarSub2ItemColor = $blackO
$navbarSub2ItemHoverColor = $mainColor

$pcTopSearchBgColor = $mainColor
$pcTopSearchBorderColor = $mainColor
$pcTopSearchInputBgColor = $mainColor
$pcTopSearchInputColor = $white
$pcTopSearchBtnBgColor = $mainColor
$pcTopSearchBtnColor = $white
$pcTopSearchTipListBgColor = $white
$pcTopSearchTipListShadowColor = rgba(0, 0, 0, 0.20)

$mbTopSearchBgColor = $white
$mbTopSearchBorderColor = rgba(0, 0, 0, 0.2)
$mbTopSearchInputBgColor = $white
$mbTopSearchInputColor = $blackO
$mbTopSearchBtnBgColor = $blackTrue
$mbTopSearchBtnColor = #6C6C6C
$mbTopSearchLabelBgColor = $white

// products

$categoryColor = $blackO
$categoryAllColor = $black
$categorySubColor = $blackOO

$detailTitleColor = $black
$detailTitleUnitColor = $blackO
$detailPriceColor = $black
$detailLabelColor = $black
$detailItemColor = $blackO

// profile

$tradeCertNavBgNormal = transparent // $whiteOO
$tradeCertNavBorderNormal = $grayO // $whiteOO
$tradeCertNavBgActive = $mainColor
$tradeCertNavBorderActive = $mainColor // $whiteOO
$tradeCertNavColor = $grayO
$tradeCertNavActiveColor = $white

// footer

$footerBgColor = #1EC1CF
$footerBorderColor = #1EC1CF
$footerColor = $white

// social

$facebookColor = #577DCE
$twitterColor = #48B4FD
$linkedInColor = #259BD8
$pinterestColor = #FA5855

$socialForgoundColor = #FFF500
$socialFacebookBgColor = $mainColor
$socialLinkedInBgColor = $mainColor
$socialTwitterBgColor = #F92424
