$theme = theme14

// base

$mainColor = #D29F61
$secondaryColor = #D29F61
$forgroundColor = #1C1E29

$linkColor = #359AF6
$errorBgColor = #FFEEE6
$errorColor = #FF3719
$success = #99CC32
$warning = #FBAE3D

$blackTrue = #000
$black = #333
$blackO = #666
$blackOO = #999
$blackOOO = #CCC

$gray = #BBB
$grayO = #D8D8D8
$grayOO = #E8E8E8
$grayOOO = #F2F2F2

$white = #FFF
$whiteO = #E6E6E6
$whiteOO = #F6F6F6

// common

$loadingBg = #EFF0F1

$inputBgColor = $white
$inputBorderColor = $grayO
$inputHoverBorderColor = $mainColor

$selectBgColor = #F2F2F2
$selectBorderColor = #F2F2F2
$selectHoverBorderColor = $mainColor
$selectColor = $blackO
$selectCaretColor = $blackOO
$selectBorderRadius = 0

$selectOptionsBorderColor = #D9D9D9
$selectItemBgColor = $white
$selectItemColor = $blackO
$selectItemHoverBgColor = #F7F7F7
$selectItemHoverColor = $blackOO
$selectItemSelectedBgColor = #FAF5EE
$selectItemSelectedColor = #359AF6

// header

$headerBgColor = $white

$navbarBgColor = $white
$navbarItemBgColor = transparent
$navbarItemColor = $blackTrue
$navbarItemHoverBgColor = transparent
$navbarItemHoverColor = $mainColor
$navbarItemLineColor = #F2F2F2

$navbarSubBgColor = $grayOOO
$navbarSubItemBgColor = transparent
$navbarSubItemColor = $blackO
$navbarSubItemHoverColor = $mainColor

$navbarSub2BgColor = $grayOOO
$navbarSub2ItemBgColor = $grayOOO
$navbarSub2ItemColor = $blackO
$navbarSub2ItemHoverColor = $mainColor

$pcTopSearchBgColor = transparent
$pcTopSearchBorderColor = $mainColor

$pcTopSearchInputBgColor = #F7F7F7
$pcTopSearchInputColor = $blackOOO
$pcTopSearchInputFocusBgColor = $white
$pcTopSearchInputFocusColor = $black

$pcTopSearchBtnBgColor = transparent
$pcTopSearchBtnColor = #B4B4B4
$pcTopSearchBtnHoverColor = $black

$pcTopSearchTipListBgColor = $white
$pcTopSearchTipListBorderColor = #D9D9D9
$pcTopSearchTipListShadowColor = rgba(0, 0, 0, 0.20)
$pcTopSearchTipListItenHoverBgColor = #F7F7F7

$mbTopSearchBgColor = $white
$mbTopSearchBorderColor = $white

$mbTopSearchInputBgColor = #F7F7F7
$mbTopSearchInputColor = $blackO

$mbTopSearchBtnBgColor = $white
$mbTopSearchBtnColor = $black

$mbTopSearchLabelBgColor = $white
$mbTopSearchLabelColor = $blackO

// products

$categoryColor = $black
$categoryAllColor = $black
$categorySubColor = $black

$detailTitleColor = $black
$detailTitleUnitColor = $blackO
$detailPriceColor = $mainColor
$detailLabelColor = $blackOO
$detailItemColor = $black

// profile

$tradeCertNavBgNormal = $whiteOO
$tradeCertNavBgActive = $mainColor
$tradeCertNavColor = $grayO

// footer

$footerBgColor = $white
$footerBorderColor = #F2F2F2
$footerColor = rgba(51, 51, 51, 0.6)

// social

$facebookColor = #577DCE
$twitterColor = #48B4FD
$linkedInColor = #259BD8
$pinterestColor = #FA5855

$socialForgoundColor = #FFF500
$socialFacebookBgColor = $mainColor
$socialLinkedInBgColor = $mainColor
$socialTwitterBgColor = #F92424
